

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    margin: 12px;
    padding: 12px;
    text-align: center;
    border: 2px solid;
    border-color: black;
}

h2 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav-left{
    margin-left: 12px;
}

#nav-right{
    border-right: 2px solid;
    border-color: cornflowerblue;
}

.nav-link {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    background-color: white;
    color: black;
    border-left: 2px solid;
    border-color: cornflowerblue;
    text-align: center;
    padding: 6px 12px;
    margin: 6px auto 0 auto;
    display: inline-block;
}

a{
    text-decoration: none; 
    color: darkslategray;
    font-weight: bold;
}